.textabout {
  background-color: #f6f2fa;
  color: #fff;
  /* height: 480px;*/
  width: 70%;
  font-size: 15px;
  box-shadow: 10px 10px 60px #000;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.description {
  text-align: center;
  font-size: 17px;
}

/* .formlogin {
  width: 30em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
}

.login {
  width: 300px;
  margin: auto;
  margin: 50px;
}

/* .rubrik {
  font-size: 30px;
  padding: 20px;
}  */

.textcontact {
  background-color: #f6f2fa;
  color: #fff;
  /* height: 480px;*/
  width: 80%;
  font-size: 15px;
  box-shadow: 10px 10px 60px #000;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.rubrik {
  font-size: 30px;
  padding: 20px;
}

/* .label {
  padding-bottom: 10px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.input {
  padding: 80px;
  border-radius: 10px;
  box-shadow: 15px 10px 40px #000;
  font-size: 20px;

  width: 88%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
} */

.text {
  text-align: center;
  font-size: 22px;
  padding: 30px;
}

/* .btnhover {
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #fff;
} */
/* .btnhover:hover {
  transform: scale(1.25);
  color: blue;
} */
