/* .portfolio {
  text-align: center;
  margin-top: 50px;
}

.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
} */

.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 40px;
}
.portfolio > h1 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  display: block;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 10px;
}
/* .projects h3 {
  text-align: center;
  margin: 10px auto 0px;
  font-weight: 400;
} */
.projects p {
  /* color: #ccc;
  margin-top: 4px; */
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
