.container {
  display: grid;

  justify-content: center;
  align-items: center;
  height: 80px;

  background-color: #d9d8da;
  font-weight: bolder;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}
.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
